{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "quoteProps": "as-needed",
    "printWidth": 80,
    "endOfLine": "lf"
}